.gwt-VerticalSplitPanel .vsplitter,.gwt-HorizontalSplitPanel .hsplitter
	{
	background: #F7F7F7 !important;
}

.spinner-buttons button {
	display: block;
}

.dp-spinner-upbutton {
	margin-top: 3px;
	background: url("img/up.gif") #FAFAFA no-repeat 3px 1px;
}

.dp-spinner-downbutton {
	margin-bottom: 3px;
	background: url("img/down.gif") #FAFAFA no-repeat 3px 1px;
}

.spinner-buttons {
	margin-left: 1px;
}

.gwt-SliderBar-shell {
	border-style: inset;
	border-width: 1px;
	background-color: white;
}

.gwt-SliderBar-line {
	border-style: outset;
	border-width: 1px;
	background-color: #EEE;
	overflow: hidden;
}

.gwt-SliderBar-knob {
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-label {
	font-size: 8pt;
	cursor: default;
	font-weight: bold;
}

.gwt-SliderBar-label.dimm {
	color: #CCC;
	font-weight: normal;
}

.gwt-SliderBar-tick {
	width: 1px;
	height: 5px;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-tick.dimm {
	width: 1px;
	background: #CCC;
}

.gwt-SliderBar-line-sliding {
	background-color: #A00;
	cursor: pointer;
}

.header td {
	vertical-align: middle !important;
}

.disclosurePanel-img {
	width: 16px;
	height: 16px;
}

.gwt-DisclosurePanel-open .disclosurePanel-img {
	background: url("img/collapse.png") no-repeat;
}

.gwt-DisclosurePanel-closed .disclosurePanel-img {
	background: url("img/expand.png") no-repeat;
}

fieldset {
	display: block;
	clear: both;
}

.detail-panel .gwt-Label {
	float: left;
	width: 60px;
	line-height: 30px;
}

.detail-panel input {
	width: 150px;
	display: block;
	margin: 5px;
}

.contextMenu {
	position: absolute;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 8pt;
	border: 1px solid gray;
	background-color: white;
	cursor: default;
}

.contextMenu .gwt-Label {
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 120px;
	padding-left: 2px;
}

.contextMenu .gwt-Label:HOVER {
	background-image: url('img/left.png');
	background-repeat: no-repeat;
	background-position: -2px 0px;
}